*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
}

:root{
    --LinearGradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%);
    --VeryLightGrayishBlue: hsl(240, 78%, 98%);
    --LightGrayishBlue: hsl(234, 14%, 74%);
    --GrayishBlue: hsl(233, 13%, 49%);
    --DarkGrayishBlue: hsl(232, 13%, 33%);
}

main{
    width: 100%;
    min-height: 100vh;
    background-color: hsl(240, 78%, 98%);
    background-image: url(./images/bg-bottom.svg), url(./images/bg-top.svg);
    background-position: left bottom, right top;
    background-repeat: no-repeat, no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 0;

}

.our-pricing{
    color: var(--GrayishBlue);
    letter-spacing: 0.8px;
    font-size: 2.1rem;
    line-height: 2.6rem;
    margin-bottom: 30px;
}

/* switch */

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(237, 63%, 64%);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: hsl(236, 72%, 79%);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px hsl(236, 72%, 79%);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(23px);
    -ms-transform: translateX(23px);
    transform: translateX(23px);
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .checkbox{
    display: flex;
    gap: 15px;
    align-items: center;
  }

  .checkbox span{
    font-size: 14px;
    line-height: 24px;
    color: var(--LightGrayishBlue);
    letter-spacing: 0.5px;
  }

/* cards */
.cards{
  margin-top: 8vh;
  display: flex;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 2rem 3rem;
  gap: 15px;
  border-radius: 8px;
  color: var(--GrayishBlue);
  width: 300px;
}

.type{
  font-size: 18px;
  line-height: 28px;
}
.price-div{
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.price{
  font-size: 3.3rem;
  color: var(--DarkGrayishBlue);
}

.dollar{
  font-size: 2.2rem;
  color: var(--DarkGrayishBlue);
}

.line{
  border: 1.3px solid hsl(240, 78%, 98%);
  width: 100%;
}

.facilities{
  font-size: 13px;
}

.learn-more{
  margin-top: 15px;
  padding: 12px;
  cursor: pointer;
  width: 100%;
  border: 1px solid white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  border-radius: 5px;
  color: white;
  background: linear-gradient(90deg, rgba(163,168,240,1) 0%, rgba(105,111,221,1) 100%);
}

.learn-more:hover{
  border: 1px solid rgba(105,111,221,1);
  color: rgba(105,111,221,1);
  background: white;
  transition: 2s;
}

.white{
  margin: 20px 0;
}

.blue{
  color: white;
  background-color: rgba(105,111,221,1);
}

.blue-txt{
  color: white;
}

.blue-line{
  border: 0.1px solid var(--LightGrayishBlue);
}

.blue-learn-more{
  background: white;
  color: rgba(105,111,221,1);
}

.blue-learn-more:hover{
  background: rgba(105,111,221,1);
  color: white;
  transition: 1s;
  border: 1px solid white;
}

.blue-dollar{
  color: white;
}
